@font-face {
    font-family: ourfont;
    src: url(/Epilogue-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family:ourfont;
    background-color: hsl(0, 0%, 98%);
    
}
/*utility styles*/
.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.nav-links{
    display: flex;
}
.nav-links-list{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-links-list li{
    position: relative;
}
.nav-links-list-dropdown{
    box-shadow: 11px 0px 11px -8px rgba(20,13,13,0.51);
    background: #fff;
    position: absolute;
    top: 100%;
    display: none;
    width: max-content;
    list-style-type: none;
    
}
.nav-links a:hover  +  .nav-links-list-dropdown{
    display: block;
}
.nav-links-list-dropdown:hover{
    display: block;
}
.nav-links-list-dropdown li{
    padding: 8px 0px;
}
.nav-links-list-dropdown li:hover{
    background-color: hsl(0, 29%, 85%);
}
.nav-links-list a{
    padding: 10px 15px;
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}
.login-btn{
    color: hsl(0, 0%, 41%);
    padding: 10px 15px;
    text-decoration: none;
}

.mobile-nav-btns{
    display: none;
}
.register-btn{
    color: hsl(0, 0%, 41%);
    padding: 10px 15px;
    border:1px solid hsl(0, 0%, 41%);
    border-radius: 6px;
    text-decoration: none;
}
/*hero section*/
.hero{
    display: flex;
    padding: 0px 100px 50px 100px;
    gap: 100px;
}
.hero-image-mobile{
    display: none;
}
.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-text h1{
    margin-top: 50px;
    font-size: 70px;
}
.hero-text p{
    color: hsl(0, 0%, 41%);
    line-height: 24px;
}
.hero-text button{
    width: max-content;
    background-color: black;
    color: #fff;
    border: 1px solid hsl(0, 0%,41%);
    border-radius: 12px;
    padding: 12px 17px;
    cursor: pointer;
    font: inherit;
    font-weight: 700;  
}
.hero-text button:hover{
    border: 2px solid hsl(0, 1%, 22%);
    background-color: transparent;
    color: hsl(0, 1%, 22%);
}
.client-logos {
    display: flex;
    justify-content: space-between;
  }
  .hero .hero-text .client-logos img {
    display: block;
    height: 24px;
  }
.hero-image{
    flex: 1; 
    justify-content: right;
}
.hero-image img{
    height: 70vh;
}
/*media quesries*/
@media screen and (max-width:800px) {
    /*header section*/
    nav{
        display: none;
    }
    .nav-btns{
        display: none;
    }
    .mobile-nav-btns{
        display: block;
    }
    /*hero section*/
    .hero{
        flex-direction: column;
        padding: 0px;
        gap: 0px;
    }
    .hero-image-desktop{
        display: none;
    }
    .hero-image-mobile{
        display: block;
    }
    .hero-image-mobile img{
        width: 100%;
    }
    .hero-text{
        align-items: center;
        padding: 15px;
    }
    .hero-text h1{
        font-size: 36px;
        margin-top: 0px;
    }
    .hero-text h1 br{
        display: none;
    }
}
/* animation keyframes */
/* ----------------------------------------------
 * Generated by Animista on 2023-2-2 11:22:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  